@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    background: #17a2b8;
    /* B51B14 */
    color: #fff;
    font-family: 'Poppins', sans-serif;
}


.title, li {
    color: #000;
}

#generate {
    display: inline-block;
}
